* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root
{

    
    --color : 0, 100%, 0%;
    --textureColor : 51, 100%, 50%;
    --accentColor:0, 0%, 100%;

    color:#000005
}
hr 
{
    width:0px;
}

html, body 
{

    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    background-color: hsl(var(--color));
}



.main 
{
    height: 99vh;
    width: 99vw;
    border-radius: 2%;
    border: 3px hsl(var(--textureColor)) solid ;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 70% 30%;
    grid-template-columns: 3fr 1fr;
    overflow: hidden;
}
.display
{
    grid-row: 1;
    grid-column: 1 / 3;
    position: relative;
    /* place-content: center; */
    place-items: center;
    background-color  : hsla(var(--accentColor), 10%);
}
.today
{
    background-color: hsla(var(--color), 80%);
    color: hsl(var(--textureColor));
    position: absolute;
    bottom: 10px;
    width:100%;
    border: hsl(var(--accentColor))  solid;
    border-width: 2px 0px;
}
.minus
{
    grid-row: 2;
    grid-column: 2;
    font-size: 150px;
    text-align: center;
    border-top-left-radius: 10px;
    border: hsl(var(--textureColor)) solid 2px;
    color: hsl(var(--textureColor));
}
.plus
{
    border-top-right-radius: 10px;
    grid-row: 2;
    grid-column: 1;
    font-size: 150px;
    text-align: center;
    border: hsl(var(--textureColor)) solid 2px;
    color: hsl(var(--textureColor));
}
.display
{
    color: hsl(var(--textureColor));
    font-size: 50px;
    text-align: center;
}

.score
{
    font-size: 180px;
}

.minusprompt
{
    background-color: hsl(var(--color));
    color: hsl(var(--textureColor));
    height: 100px;
    width: 100%;
    font-size: 300%;
    text-align: center;
    overflow: hidden;
    
}
.minusbtn, .negative
{
    height: 100px;
    width: 100%;
   color:hsl(var(--accentColor));
   background-color: hsl(var(--color));
   font-size: 50px;
    border: hsl(var(--textureColor)) 5px solid;

}
.negative 
{
    position: fixed;
    bottom: 0px;
    z-index: 1000;
}
.prize
{
    position: fixed;
    bottom: 100px;
    left: 25px;
}
.pPrompt, .mPrompt
{
    height: 100vh;
    width: 100vw;

    color: hsl(var(--accentColor));
    position: absolute;
    overflow: scroll;
    background-color: hsl(var(--color));
    
}
.clicker, .nClicker
{
    border: 1px hsl(180, 100%, 20%) solid;
    box-shadow: 2px 2px hsl(var(--textureColor));
    font-size: 300%;
    overflow: hidden;
}
.points, .drank
{
    color: hsl(var(--textureColor));
    font-size: 130%;
}
.limit
{
    color: hsl(var(--accentColor));
}
.done
{
    
}
